/SampleApp/Podfile.lock
/SampleApp/Pods
/CallbackURLKit.xcodeproj/project.xcworkspace/xcuserdata
/CallbackURLKit.xcodeproj/xcuserdata
/SampleApp/CallbackURLKitDemo.xcodeproj/xcuserdata
/SampleApp/CallbackURLKitDemo.xcworkspace/xcuserdata
